* {
    box-sizing: border-box;
}
body {
    background: #048;
    background: -webkit-linear-gradient(left top, #027, #48a);
    background: -moz-linear-gradient(bottom right, #027, #48a);
    background: linear-gradient(to bottom right, #027, #48a);
    background-attachment: fixed;
    color: #fff;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
.titleMenu{
    color: white;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.spacerbox{
    margin-top: 20px;
    color: white;
}
.page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.title {
    color: #f6f6f6;
    position: center;
    text-align: center;
    top: 0;
    left: 50%;
    font-size: 20px;
}
.buttonMenu {
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
.buttonMenu div {
    width: 25px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #00dffc;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
}
.buttonMenu.active {
    left: 200px;
}
.buttonMenu.active div {
    background-color: #00dffc;
}
.buttonMenu.active .topLineMenu {
    transform: translateY(10px) rotate(-135deg);
}
.buttonMenu.active .middleLineMenu {
    opacity: 0;
    transform: rotate(135deg);
}
.buttonMenu.active .bottomLineMenu {
    transform: translateY(-10px) rotate(-45deg);
}
.sideMenuBox {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0;
    left: -275px;
    width: 230px;
    opacity: 0;
    padding: 10px 0;
    height: 100%;
    background: rgba(0,20,60,.9);
    color: #343838;
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
.sideMenuBox.active {
    left: 0;
    opacity: 1;
}
.divItemsBox {
    position: relative;
    top: 19%;
    margin-left: 10px;
    transform: translateY(-50%);
}
.divItemsBox .listItem {
    position: relative;
    cursor: pointer;
    font-size: 15px;
    transition: all 250ms;
    color: #fff;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    text-align: -webkit-match-parent;
}
.divItemsBox .listItem:hover {
    padding: 15px 45px;
    background-color: rgba(52, 56, 56, 0.2);
}
.buttonMenu, .buttonMenu * {
    will-change: transform;
}
.sideMenuBox {
    will-change: transform;
}